---
- name: Create diun namespace.
  k8s:
    name: diun
    api_version: v1
    kind: Namespace
    state: present

- name: Add nicholaswilde chart repo.
  kubernetes.core.helm_repository:
    name: nicholaswilde
    repo_url: "https://nicholaswilde.github.io/helm-charts/"

- name: Deploy diun Helm chart.
  kubernetes.core.helm:
    name: diun
    chart_ref: nicholaswilde/diun
    chart_version: "{{ diun_chart_version }}"
    release_namespace: diun
    update_repo_cache: yes
    state: present
    values:
      resources:
        limits:
          cpu: 200m
          memory: 256Mi
        requests:
          cpu: 100m
          memory: 128Mi
