---
- name: Create installer namespace.
  k8s:
    name: installer
    api_version: v1
    kind: Namespace
    state: present

- name: Add nicholaswilde chart repo.
  kubernetes.core.helm_repository:
    name: nicholaswilde
    repo_url: "https://nicholaswilde.github.io/helm-charts/"

- name: Deploy installer Helm chart.
  kubernetes.core.helm:
    name: installer
    chart_ref: nicholaswilde/installer
    chart_version: "{{ installer_chart_version }}"
    release_namespace: installer
    update_repo_cache: yes
    state: present
    values:
      persistentVolumeClaim:
        enabled: true
      ingress:
        enabled: true
        hosts:
          - host: "installer.{{ ingress_server_ip }}.nip.io"
            paths: [/]
      resources:
        limits:
          cpu: 200m
          memory: 256Mi
        requests:
          cpu: 100m
          memory: 128Mi
