---
- name: Get Ingress records from monitoring namespace.
  kubernetes.core.k8s_info:
    api_version: extensions/v1beta1
    kind: Ingress
    namespace: monitoring
  register: monitoring_ingress

- name: Get Ingress records from homebridge namespace.
  k8s_info:
    api_version: extensions/v1beta1
    kind: Ingress
    namespace: homebridge
  register: homebridge_ingress

- name: Get Ingress records from transmission namespace.
  k8s_info:
    api_version: extensions/v1beta1
    kind: Ingress
    namespace: transmission
  register: transmission_ingress

- name: Get Ingress records from installer namespace.
  k8s_info:
    api_version: extensions/v1beta1
    kind: Ingress
    namespace: installer
  register: installer_ingress

- name: Get Ingress records from gotify namespace.
  k8s_info:
    api_version: extensions/v1beta1
    kind: Ingress
    namespace: gotify
  register: gotify_ingress

- name: Get Ingress records from booksonic namespace.
  k8s_info:
    api_version: extensions/v1beta1
    kind: Ingress
    namespace: booksonic
  register: booksonic_ingress

- name: Print monitoring ingress.
  debug:
    msg:
      - "http://{{ monitoring_ingress['resources'][0]['spec']['rules'][0]['host'] }}/"
      - "http://{{ monitoring_ingress['resources'][1]['spec']['rules'][0]['host'] }}/"
      - "http://{{ monitoring_ingress['resources'][2]['spec']['rules'][0]['host'] }}/"
  when: monitoring_ingress['resources'][0]['spec']['rules'][0]['host'] is defined

- name: Print Homebridge ingress.
  debug:
    msg:
      - "http://{{ homebridge_ingress['resources'][0]['spec']['rules'][0]['host'] }}/"
  when: homebridge_ingress['resources'][0]['spec']['rules'][0]['host'] is defined

- name: Print Transmission ingress.
  debug:
    msg:
      - "http://{{ transmission_ingress['resources'][0]['spec']['rules'][0]['host'] }}/"
  when: transmission_ingress['resources'][0]['spec']['rules'][0]['host'] is defined

- name: Print installer ingress.
  debug:
    msg:
      - "http://{{ installer_ingress['resources'][0]['spec']['rules'][0]['host'] }}/"
  when: installer_ingress['resources'][0]['spec']['rules'][0]['host'] is defined

- name: Print gotify ingress.
  debug:
    msg:
      - "http://{{ gotify_ingress['resources'][0]['spec']['rules'][0]['host'] }}/"
  when: gotify_ingress['resources'][0]['spec']['rules'][0]['host'] is defined

- name: Print booksonic ingress.
  debug:
    msg:
      - "http://{{ booksonic_ingress['resources'][0]['spec']['rules'][0]['host'] }}/"
  when: booksonic_ingress['resources'][0]['spec']['rules'][0]['host'] is defined
